.footer{
    display: flex;
    background-color: #100F0F;
    margin-top: 5px;
    width: 100%;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
}

.footer .footerHeading{
    margin: auto;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}

.footer p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    align-items: center;
    font-weight: 800;
}

.icons{
    display: flex;
    float: right;
    width: 40%;
    padding: 2 0 2 0;
    margin-top: 3%;
    margin-right: 20%;
}

@media only screen and (max-width: 700px) and (min-width: 400px){
    .footer .footerHeading{
        margin: auto;
        font-weight: 600;
        font-size: 1em;
        margin-left: 3em;
    }
    
    .footer .footerC1{
        margin-top: 1em;
        padding: 0.5em;
    }

    .footer .footerC2{
        padding: 0.5em;
    }
    .footer .footerC2 p{
      padding-left: 1em;
      padding-right: 1em;
      margin-left: 1em;
    }

    .footer .iName{
        display: none;
    }
}